{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- <th>번호</th> -->
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                {% for article in article_list %}
                <tr onclick=' location="/article/detail/{{ article.id }}"'>
                    <!-- <td>{{ article.id }}</td> -->
                    <td>{{ article.title }}</td>
                    <td>{{ article.content }}</td>
                    <td>{{ article.user.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                {% if products.has_previous %}                         
                <li class="page-item">
                    <a class="page-link" href="?p={{products.previous_page_number }}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="#">{{products.number}}1{{products.paginator.num_pages}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">{{products.number}}2{{products.paginator.num_pages}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">{{products.number}}3{{products.paginator.num_pages}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">{{products.number}}4{{products.paginator.num_pages}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">{{products.number}}5{{products.paginator.num_pages}}</a>
                </li>
                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{products.next_page_number }}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">다음으로</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}