{% extends 'base.html' %}
{% block content %}

<body style="background-color:#E9ECEF">
    <div style="padding:50px;"> </div>
    <div class="jumbotron"> 
        <!-- <div style="padding:30px;"> </div> -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading"><SMALL><B># {{ article.id }}</B></SMALL></div>
                <hr>
                <div class="panel-heading"><B>{{ article.title }}</B> </div>
                <hr>
                <div class="panel-body" style="height: 200px; overflow-y: scroll;">{{ article.content }}</div>
            </div>
        </div>
    <div class="jumbotron text-right">
        <a href='/article/board/' class="btn btn-dark btn-sm" id="list">목록</a>
        <a href='/article/update/{{ article.id }}' class="btn btn-dark btn-sm" id="update">수정</a>
        <a href='/article/delete/{{ article.id }}/' class="btn btn-dark btn-sm" id="delete">삭제</a>
    </div></div>
</body>

{% endblock %}