{% extends 'base.html' %}
{% block content %}

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav" style="height:818.6px;">
      <div id="scroll" style="position:absolute; margin-top: 20px; left: 20px; right:  20px;">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">음식</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="#food1">안동간고등어</a>
                    <a href="#food2">헛제사밥</a>
                    <a href="#food3">안동찜닭</a>
                    <a href="#food4">안동한우</a>
                    <a href="#food5">안동칼국수</a>
                    <a href="#food6">안동잉어찜</a>
                    <a href="#food7">안동매운탕</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-sm-8 text-left">
      <h1>먹거리 여행</h1>
      <p>안동의 먹거리를 경험해보세요.</p>
      <hr>
      <div id="map" style="width:800px; height:400px; margin:0 auto;"></div>
      <div class="container text-center">
      </div>
      중앙 정렬하기
      <style>
        th {
          text-align: center;
        }
      </style>
      <h3 id="food1">안동간고등어</h3>
      {{contact|safe}}

      <h3 id="food2">헛제사밥</h3>
      {{contact1|safe}}

      <h3 id="food3">안동찜닭</h3>
      {{contact2|safe}}

      <h3 id="food4">안동한우</h3>
      {{contact3|safe}}

      <h3 id="food5">안동칼국수</h3>
      {{contact4|safe}}

      <h3 id="food6">안동잉어찜</h3>
      {{contact5|safe}}

      <h3 id="food7">안동매운탕</h3>
      {{contact6|safe}}
    
</script>
{% endblock %}