{% extends 'base.html' %}
{% block content %}
<body style="background-color:#E9ECEF">
<header class="bg-primary text-white">
    <div class="container text-center">
      <h1>문의하기</h1>
      <br>
      <p class="lead">관리자에게 문의사항이나 의견을 보내주세요</p>
      <p class="lead">보내주신 의견은 관리자에게 메일로 전송됩니다.</p>
    </div>
</header>

<div class="jumbotron">
    <div class="container text-center">
        <form method="post" action="/help/">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="제목을 입력해주세요." required>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="10" name="comment" placeholder="내용을 입력해주세요." required></textarea>
            </div>
            <button type="submit" id="send" class="btn btn-primary btn-block">
                발송
            </button>
        </form>
    </div>
</div>
</body>
{% endblock %}