{% extends 'base.html' %}

{% block content %}  
<header class="bg-success text-white">
    <div class="container text-center">
      <h1>Andong University Community에 오신 것을 환영합니다!</h1>
      <br>
      <p class="lead">다양한 학생들과 소통하세요!</p>
    </div>
  </header>

  <section id="about" class="bg1">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>블라블라</h2>
          <p class="lead">블라블라라  :</p>
          <ul>
            <li>A</li>
            <li>B</li>
            <li>C</li>        
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>내용2</h2>
          <p class="lead">내용3.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="bg2">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>내용4</h2>
          <p class="lead">내용5</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}