{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <div class="container text-center">
        <div id="map" style="width:900px; height:450px; margin:0 auto;"></div>
    </div>
</div>

<script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=38d34c29c097c5f5c8c02416cb4aefff"></script>
<script>
    navigator.geolocation.getCurrentPosition(function(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            // alert(lat + ',' + lng);

        var container = document.getElementById('map');
        var options = {
            center : new kakao.maps.LatLng(36.542258, 128.796883), // 안동대학교 (지도 중심 위치)
            level : 3
        };
        var map = new kakao.maps.Map(container, options);
        var markerPosition = new kakao.maps.LatLng(36.542258, 128.796883);  // 마커표시
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });
        marker.setMap(map);
        
        // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
        var positions = [
            {
                content: '<div>대학본부</div>', 
                latlng: new kakao.maps.LatLng(36.541353, 128.797443)
            },
            {
                content: '<div>도서관</div>', 
                latlng: new kakao.maps.LatLng(36.540399, 128.795562)
            },
            {
                content: '<div>박물관</div>', 
                latlng: new kakao.maps.LatLng(36.542598, 128.79699)
            },
            {
                content: '<div>운동장</div>',
                latlng: new kakao.maps.LatLng(36.541312, 128.793162)
            },
            {
                content: '<div>정보통신원</div>',
                latlng: new kakao.maps.LatLng(36.542050, 128.795988)
            },
            {
                content: '<div>체육관</div>',
                latlng: new kakao.maps.LatLng(36.541754, 128.794378)
            },
            {
                content: '<div>학생회관</div>',
                latlng: new kakao.maps.LatLng(36.542426, 128.798176)
            },
            {
                content: '<div>솔뫼문화관</div>',
                latlng: new kakao.maps.LatLng(36.541329, 128.795332)
            },
            {
                content: '<div>주차장</div>',
                latlng: new kakao.maps.LatLng(36.539716, 128.794909)
            },
            {
                content: '<div>가람관(기숙사)</div>',
                latlng: new kakao.maps.LatLng(36.542573, 128.793584)
            },
            {
                content: '<div>솔빛관(기숙사)</div>',
                latlng: new kakao.maps.LatLng(36.544540, 128.796182)
            },
            {
                content: '<div>솔뫼관(기숙사)</div>',
                latlng: new kakao.maps.LatLng(36.545489, 128.796309)
            },
            {
                content: '<div>종합연구동</div>',
                latlng: new kakao.maps.LatLng(36.544498, 128.795232)
            },
            {
                content: '<div>공대2호관</div>',
                latlng: new kakao.maps.LatLng(36.543959, 128.796052)
            },
            {
                content: '<div>공대1호관</div>',
                latlng: new kakao.maps.LatLng(36.543467, 128.796238)
            },
            {
                content: '<div>공동실험실습관</div>',
                latlng: new kakao.maps.LatLng(36.544189, 128.796951)
            },
            {
                content: '<div>사회과학관</div>',
                latlng: new kakao.maps.LatLng(36.543261, 128.794664)
            },
            {
                content: '<div>간호학관</div>',
                latlng: new kakao.maps.LatLng(36.541006, 128.796339)
            },
            {
                content: '<div>역동서원</div>',
                latlng: new kakao.maps.LatLng(36.543617, 128.797221)
            },
            {
                content: '<div>생활과학관</div>',
                latlng: new kakao.maps.LatLng(36.543380, 128.798314)
            },
            {
                content: '<div>미술학관</div>',
                latlng: new kakao.maps.LatLng(36.543700, 128.800037)
            },
            {
                content: '<div>자연대1호관</div>',
                latlng: new kakao.maps.LatLng(36.542739, 128.798976)
            },
            {
                content: '<div>자연대2호관</div>',
                latlng: new kakao.maps.LatLng(36.541585, 128.799391)
            },
            {
                content: '<div>산학협력관</div>',
                latlng: new kakao.maps.LatLng(36.542559, 128.799742)
            },
            {
                content: '<div>사범학관</div>',
                latlng: new kakao.maps.LatLng(36.540866, 128.799280)
            },
            {
                content: '<div>인문학관</div>',
                latlng: new kakao.maps.LatLng(36.540390, 128.798400)
            },
            {
                content: '<div>국제교류관</div>',
                latlng: new kakao.maps.LatLng(36.540636, 128.799949)
            },
            {
                content: '<div>음악관</div>',
                latlng: new kakao.maps.LatLng(36.540904, 128.802186)
            },
            {
                content: '<div>학군단</div>',
                latlng: new kakao.maps.LatLng(36.540090, 128.802138)
            },
            {
                content: '<div>연병장</div>',
                latlng: new kakao.maps.LatLng(36.540536, 128.801134)
            },
            {
                content: '<div>풋살장</div>',
                latlng: new kakao.maps.LatLng(36.540651, 128.801660)
            },
            {
                content: '<div>종합스포츠센터</div>',
                latlng: new kakao.maps.LatLng(36.541580, 128.802348)
            },
            {
                content: '<div>우체국</div>',
                latlng: new kakao.maps.LatLng(36.542139, 128.795104)
            },
            {
                content: '<div>고시원</div>',
                latlng: new kakao.maps.LatLng(36.541227, 128.800097)
            },
            {
                content: '<div>대학일자리센터</div>',
                latlng: new kakao.maps.LatLng(36.542488, 128.796644)
            },
            {
                content: '<div>버스정류장</div>',
                latlng: new kakao.maps.LatLng(36.540498, 128.794347)
            }
        ];

        $.ajax({
            url: '/map_data/',
            data: {
            'lat' : lat, 'lng' : lng
            },
            success: function(res) {
                for(var i = 0; i < res.length; i++) {
                    var marker = new kakao.maps.Marker({
                        map : map, // 마커를 표시할 지도
                        position : new kakao.maps.LatLng(res[i].lat, res[i].lng),
                        title : res[i].title,
                    });

                    // 마커에 표시할 인포윈도우를 생성합니다 
                    var infowindow = new kakao.maps.InfoWindow({
                        content: positions[i].content // 인포윈도우에 표시할 내용
                    });

                    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
                    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
                    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
                    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
                    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
                }                
            }
        });

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
        function makeOverListener(map, marker, infowindow) {
            return function() {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다 
        function makeOutListener(infowindow) {
            return function() {
                infowindow.close();
            };
        }

    });
</script>

{% endblock %}