{% extends 'base.html' %}

{% block content %}

<header class="bg-info text-white">
    <div class="container text-center">
      <h1>캠퍼스맵</h1>
      <br>
      <p class="lead">주소 : 경상북도 안동시 경동로 1375 (송천동)</p>
        <p>전화번호 : 054-820-5114</p>
    </div>
</header>

<style>
    .dot {overflow:hidden;float:left;width:12px;height:12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png');}    
    .dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
    .dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}    
    .number {font-weight:bold;color:#ee6152;}
    .dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
    .distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0;}
    .distanceInfo .label {display:inline-block;width:50px;}
    .distanceInfo:after {content:none;}
</style>

<div class="jumbotron">
    <div class="container text-center">
        <p>
            <em>♧꿀Tip♧ 지도를 마우스로 클릭하면 선 그리기가 시작되고, 오른쪽 마우스를 클릭하면 선 그리기가 종료되면서
                <br>그려진 선의 실제 거리 (단위 : m) 와 걸리는 시간 (도보, 자전거) 을 표시해줘요. ^~^</em>
        </p>
        <div id="map" style="width:1000px; height:550px; margin:0 auto;"></div>
    </div>
</div>

<script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=38d34c29c097c5f5c8c02416cb4aefff"></script>
<script>
    navigator.geolocation.getCurrentPosition(function(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            // alert(lat + ',' + lng);

        var container = document.getElementById('map');
        var options = {
            center : new kakao.maps.LatLng(36.542258, 128.796883), // 안동대학교 (지도 중심 위치)
            level : 3
        };

        var map = new kakao.maps.Map(container, options);
        var markerPosition = new kakao.maps.LatLng(36.542258, 128.796883);  // 마커표시
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });
        marker.setMap(map);

        // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
        var positions = [
            {
                content: '<div>대학본부</div>', 
                latlng: new kakao.maps.LatLng(36.541353, 128.797443)
            },
            {
                content: '<div>도서관</div>', 
                latlng: new kakao.maps.LatLng(36.540399, 128.795562)
            },
            {
                content: '<div>박물관</div>', 
                latlng: new kakao.maps.LatLng(36.542598, 128.79699)
            },
            {
                content: '<div>운동장</div>',
                latlng: new kakao.maps.LatLng(36.541312, 128.793162)
            },
            {
                content: '<div>정보통신원</div>',
                latlng: new kakao.maps.LatLng(36.542050, 128.795988)
            },
            {
                content: '<div>체육관</div>',
                latlng: new kakao.maps.LatLng(36.541754, 128.794378)
            },
            {
                content: '<div>학생회관</div>',
                latlng: new kakao.maps.LatLng(36.542426, 128.798176)
            },
            {
                content: '<div>솔뫼문화관</div>',
                latlng: new kakao.maps.LatLng(36.541329, 128.795332)
            },
            {
                content: '<div>주차장</div>',
                latlng: new kakao.maps.LatLng(36.539716, 128.794909)
            },
            {
                content: '<div>가람관(기숙사)</div>',
                latlng: new kakao.maps.LatLng(36.542573, 128.793584)
            },
            {
                content: '<div>솔빛관(기숙사)</div>',
                latlng: new kakao.maps.LatLng(36.544540, 128.796182)
            },
            {
                content: '<div>솔뫼관(기숙사)</div>',
                latlng: new kakao.maps.LatLng(36.545489, 128.796309)
            },
            {
                content: '<div>종합연구동</div>',
                latlng: new kakao.maps.LatLng(36.544498, 128.795232)
            },
            {
                content: '<div>공대2호관</div>',
                latlng: new kakao.maps.LatLng(36.543959, 128.796052)
            },
            {
                content: '<div>공대1호관</div>',
                latlng: new kakao.maps.LatLng(36.543467, 128.796238)
            },
            {
                content: '<div>공동실험실습관</div>',
                latlng: new kakao.maps.LatLng(36.544189, 128.796951)
            },
            {
                content: '<div>사회과학관</div>',
                latlng: new kakao.maps.LatLng(36.543261, 128.794664)
            },
            {
                content: '<div>간호학관</div>',
                latlng: new kakao.maps.LatLng(36.541006, 128.796339)
            },
            {
                content: '<div>역동서원</div>',
                latlng: new kakao.maps.LatLng(36.543617, 128.797221)
            },
            {
                content: '<div>생활과학관</div>',
                latlng: new kakao.maps.LatLng(36.543380, 128.798314)
            },
            {
                content: '<div>미술학관</div>',
                latlng: new kakao.maps.LatLng(36.543700, 128.800037)
            },
            {
                content: '<div>자연대1호관</div>',
                latlng: new kakao.maps.LatLng(36.542739, 128.798976)
            },
            {
                content: '<div>자연대2호관</div>',
                latlng: new kakao.maps.LatLng(36.541585, 128.799391)
            },
            {
                content: '<div>산학협력관</div>',
                latlng: new kakao.maps.LatLng(36.542559, 128.799742)
            },
            {
                content: '<div>사범학관</div>',
                latlng: new kakao.maps.LatLng(36.540866, 128.799280)
            },
            {
                content: '<div>인문학관</div>',
                latlng: new kakao.maps.LatLng(36.540390, 128.798400)
            },
            {
                content: '<div>국제교류관</div>',
                latlng: new kakao.maps.LatLng(36.540636, 128.799949)
            },
            {
                content: '<div>음악관</div>',
                latlng: new kakao.maps.LatLng(36.540904, 128.802186)
            },
            {
                content: '<div>학군단</div>',
                latlng: new kakao.maps.LatLng(36.540090, 128.802138)
            },
            {
                content: '<div>연병장</div>',
                latlng: new kakao.maps.LatLng(36.540536, 128.801134)
            },
            {
                content: '<div>풋살장</div>',
                latlng: new kakao.maps.LatLng(36.540651, 128.801660)
            },
            {
                content: '<div>종합스포츠센터</div>',
                latlng: new kakao.maps.LatLng(36.541580, 128.802348)
            },
            {
                content: '<div>우체국</div>',
                latlng: new kakao.maps.LatLng(36.542139, 128.795104)
            },
            {
                content: '<div>고시원</div>',
                latlng: new kakao.maps.LatLng(36.541227, 128.800097)
            },
            {
                content: '<div>대학일자리센터</div>',
                latlng: new kakao.maps.LatLng(36.542488, 128.796644)
            },
            {
                content: '<div>버스정류장</div>',
                latlng: new kakao.maps.LatLng(36.540498, 128.794347)
            }
        ];

        $.ajax({
            url: '/map_data/',
            data: {
            'lat' : lat, 'lng' : lng
            },
            success: function(res) {
                for(var i = 0; i < res.length; i++) {
                    var marker = new kakao.maps.Marker({
                        map : map, // 마커를 표시할 지도
                        position : new kakao.maps.LatLng(res[i].lat, res[i].lng),
                        title : res[i].title,
                    });

                    // 마커에 표시할 인포윈도우를 생성합니다 
                    var infowindow = new kakao.maps.InfoWindow({
                        content: positions[i].content // 인포윈도우에 표시할 내용
                    });

                    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
                    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
                    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
                    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
                    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
                }                
            }
        });

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
        function makeOverListener(map, marker, infowindow) {
            return function() {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다 
        function makeOutListener(infowindow) {
            return function() {
                infowindow.close();
            };
        }

        // 다각형을 구성하는 좌표 배열입니다. 이 좌표들을 이어서 다각형을 표시합니다
        var polygonPath = [
            new kakao.maps.LatLng(36.540750, 128.791177),
            new kakao.maps.LatLng(36.539130, 128.794903),
            new kakao.maps.LatLng(36.539649, 128.795149),
            new kakao.maps.LatLng(36.540490, 128.796457),
            new kakao.maps.LatLng(36.540878, 128.796559),
            new kakao.maps.LatLng(36.540861, 128.796752),
            new kakao.maps.LatLng(36.540990, 128.796956),
            new kakao.maps.LatLng(36.538895, 128.800180),
            new kakao.maps.LatLng(36.539237, 128.802444),
            new kakao.maps.LatLng(36.541211, 128.803077),
            new kakao.maps.LatLng(36.541865, 128.803252),
            new kakao.maps.LatLng(36.544374, 128.801393),
            new kakao.maps.LatLng(36.544978, 128.801003),
            new kakao.maps.LatLng(36.544650, 128.800342),
            new kakao.maps.LatLng(36.544616, 128.800084),
            new kakao.maps.LatLng(36.544047, 128.798850),
            new kakao.maps.LatLng(36.543943, 128.798443),
            new kakao.maps.LatLng(36.544547, 128.796941),
            new kakao.maps.LatLng(36.544857, 128.796951),
            new kakao.maps.LatLng(36.545771, 128.797348),
            new kakao.maps.LatLng(36.545978, 128.796694),
            new kakao.maps.LatLng(36.546372, 128.796777),
            new kakao.maps.LatLng(36.546557, 128.796219),
            new kakao.maps.LatLng(36.546133, 128.795836),
            new kakao.maps.LatLng(36.543349, 128.793958),
            new kakao.maps.LatLng(36.542590, 128.792907),
            new kakao.maps.LatLng(36.540967, 128.790569)
        ];

        // 지도에 표시할 다각형을 생성합니다
        var polygon = new kakao.maps.Polygon({
            path:polygonPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FF3DE5', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FF8AEF', // 채우기 색깔입니다
            fillOpacity: 0.05 // 채우기 불투명도 입니다
        });

        // 지도에 다각형을 표시합니다
        polygon.setMap(map);
        
        var drawingFlag = false; // 선이 그려지고 있는 상태를 가지고 있을 변수입니다
        var moveLine; // 선이 그려지고 있을때 마우스 움직임에 따라 그려질 선 객체 입니다
        var clickLine // 마우스로 클릭한 좌표로 그려질 선 객체입니다
        var distanceOverlay; // 선의 거리정보를 표시할 커스텀오버레이 입니다
        var dots = {}; // 선이 그려지고 있을때 클릭할 때마다 클릭 지점과 거리를 표시하는 커스텀 오버레이 배열입니다.

        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 선 그리기가 시작됩니다 그려진 선이 있으면 지우고 다시 그립니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

            // 마우스로 클릭한 위치입니다 
            var clickPosition = mouseEvent.latLng;

            // 지도 클릭이벤트가 발생했는데 선을 그리고있는 상태가 아니면
            if (!drawingFlag) {

                // 상태를 true로, 선이 그리고있는 상태로 변경합니다
                drawingFlag = true;
                
                // 지도 위에 선이 표시되고 있다면 지도에서 제거합니다
                deleteClickLine();
                
                // 지도 위에 커스텀오버레이가 표시되고 있다면 지도에서 제거합니다
                deleteDistnce();

                // 지도 위에 선을 그리기 위해 클릭한 지점과 해당 지점의 거리정보가 표시되고 있다면 지도에서 제거합니다
                deleteCircleDot();
            
                // 클릭한 위치를 기준으로 선을 생성하고 지도위에 표시합니다
                clickLine = new kakao.maps.Polyline({
                    map: map, // 선을 표시할 지도입니다 
                    path: [clickPosition], // 선을 구성하는 좌표 배열입니다 클릭한 위치를 넣어줍니다
                    strokeWeight: 3, // 선의 두께입니다 
                    strokeColor: '#db4040', // 선의 색깔입니다
                    strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                    strokeStyle: 'solid' // 선의 스타일입니다
                });
                
                // 선이 그려지고 있을 때 마우스 움직임에 따라 선이 그려질 위치를 표시할 선을 생성합니다
                moveLine = new kakao.maps.Polyline({
                    strokeWeight: 3, // 선의 두께입니다 
                    strokeColor: '#db4040', // 선의 색깔입니다
                    strokeOpacity: 0.5, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                    strokeStyle: 'solid' // 선의 스타일입니다    
                });
            
                // 클릭한 지점에 대한 정보를 지도에 표시합니다
                displayCircleDot(clickPosition, 0);

                    
            } else { // 선이 그려지고 있는 상태이면

                // 그려지고 있는 선의 좌표 배열을 얻어옵니다
                var path = clickLine.getPath();

                // 좌표 배열에 클릭한 위치를 추가합니다
                path.push(clickPosition);
                
                // 다시 선에 좌표 배열을 설정하여 클릭 위치까지 선을 그리도록 설정합니다
                clickLine.setPath(path);

                var distance = Math.round(clickLine.getLength());
                displayCircleDot(clickPosition, distance);
            }
        });
            
        // 지도에 마우스무브 이벤트를 등록합니다
        // 선을 그리고있는 상태에서 마우스무브 이벤트가 발생하면 그려질 선의 위치를 동적으로 보여주도록 합니다
        kakao.maps.event.addListener(map, 'mousemove', function (mouseEvent) {

            // 지도 마우스무브 이벤트가 발생했는데 선을 그리고있는 상태이면
            if (drawingFlag){
                
                // 마우스 커서의 현재 위치를 얻어옵니다 
                var mousePosition = mouseEvent.latLng; 

                // 마우스 클릭으로 그려진 선의 좌표 배열을 얻어옵니다
                var path = clickLine.getPath();
                
                // 마우스 클릭으로 그려진 마지막 좌표와 마우스 커서 위치의 좌표로 선을 표시합니다
                var movepath = [path[path.length-1], mousePosition];
                moveLine.setPath(movepath);    
                moveLine.setMap(map);
                
                var distance = Math.round(clickLine.getLength() + moveLine.getLength()), // 선의 총 거리를 계산합니다
                    content = '<div class="dotOverlay distanceInfo">총거리 <span class="number">' + distance + '</span>m</div>'; // 커스텀오버레이에 추가될 내용입니다
                
                // 거리정보를 지도에 표시합니다
                showDistance(content, mousePosition);   
            }             
        });                 

        // 지도에 마우스 오른쪽 클릭 이벤트를 등록합니다
        // 선을 그리고있는 상태에서 마우스 오른쪽 클릭 이벤트가 발생하면 선 그리기를 종료합니다
        kakao.maps.event.addListener(map, 'rightclick', function (mouseEvent) {

            // 지도 오른쪽 클릭 이벤트가 발생했는데 선을 그리고있는 상태이면
            if (drawingFlag) {
                
                // 마우스무브로 그려진 선은 지도에서 제거합니다
                moveLine.setMap(null);
                moveLine = null;  
                
                // 마우스 클릭으로 그린 선의 좌표 배열을 얻어옵니다
                var path = clickLine.getPath();
            
                // 선을 구성하는 좌표의 개수가 2개 이상이면
                if (path.length > 1) {

                    // 마지막 클릭 지점에 대한 거리 정보 커스텀 오버레이를 지웁니다
                    if (dots[dots.length-1].distance) {
                        dots[dots.length-1].distance.setMap(null);
                        dots[dots.length-1].distance = null;    
                    }

                    var distance = Math.round(clickLine.getLength()), // 선의 총 거리를 계산합니다
                        content = getTimeHTML(distance); // 커스텀오버레이에 추가될 내용입니다
                        
                    // 그려진 선의 거리정보를 지도에 표시합니다
                    showDistance(content, path[path.length-1]);  
                    
                } else {

                    // 선을 구성하는 좌표의 개수가 1개 이하이면 
                    // 지도에 표시되고 있는 선과 정보들을 지도에서 제거합니다.
                    deleteClickLine();
                    deleteCircleDot(); 
                    deleteDistnce();

                }
                
                // 상태를 false로, 그리지 않고 있는 상태로 변경합니다
                drawingFlag = false;          
            }  
        });    

        // 클릭으로 그려진 선을 지도에서 제거하는 함수입니다
        function deleteClickLine() {
            if (clickLine) {
                clickLine.setMap(null);    
                clickLine = null;        
            }
        }

        // 마우스 드래그로 그려지고 있는 선의 총거리 정보를 표시하거
        // 마우스 오른쪽 클릭으로 선 그리가 종료됐을 때 선의 정보를 표시하는 커스텀 오버레이를 생성하고 지도에 표시하는 함수입니다
        function showDistance(content, position) {
            
            if (distanceOverlay) { // 커스텀오버레이가 생성된 상태이면
                
                // 커스텀 오버레이의 위치와 표시할 내용을 설정합니다
                distanceOverlay.setPosition(position);
                distanceOverlay.setContent(content);
                
            } else { // 커스텀 오버레이가 생성되지 않은 상태이면
                
                // 커스텀 오버레이를 생성하고 지도에 표시합니다
                distanceOverlay = new kakao.maps.CustomOverlay({
                    map: map, // 커스텀오버레이를 표시할 지도입니다
                    content: content,  // 커스텀오버레이에 표시할 내용입니다
                    position: position, // 커스텀오버레이를 표시할 위치입니다.
                    xAnchor: 0,
                    yAnchor: 0,
                    zIndex: 3  
                });      
            }
        }

        // 그려지고 있는 선의 총거리 정보와 
        // 선 그리가 종료됐을 때 선의 정보를 표시하는 커스텀 오버레이를 삭제하는 함수입니다
        function deleteDistnce () {
            if (distanceOverlay) {
                distanceOverlay.setMap(null);
                distanceOverlay = null;
            }
        }

        // 선이 그려지고 있는 상태일 때 지도를 클릭하면 호출하여 
        // 클릭 지점에 대한 정보 (동그라미와 클릭 지점까지의 총거리)를 표출하는 함수입니다
        function displayCircleDot(position, distance) {

            // 클릭 지점을 표시할 빨간 동그라미 커스텀오버레이를 생성합니다
            var circleOverlay = new kakao.maps.CustomOverlay({
                content: '<span class="dot"></span>',
                position: position,
                zIndex: 1
            });

            // 지도에 표시합니다
            circleOverlay.setMap(map);

            if (distance > 0) {
                // 클릭한 지점까지의 그려진 선의 총 거리를 표시할 커스텀 오버레이를 생성합니다
                var distanceOverlay = new kakao.maps.CustomOverlay({
                    content: '<div class="dotOverlay">거리 <span class="number">' + distance + '</span>m</div>',
                    position: position,
                    yAnchor: 1,
                    zIndex: 2
                });

                // 지도에 표시합니다
                distanceOverlay.setMap(map);
            }

            // 배열에 추가합니다
            dots.push({circle:circleOverlay, distance: distanceOverlay});
        }

        // 클릭 지점에 대한 정보 (동그라미와 클릭 지점까지의 총거리)를 지도에서 모두 제거하는 함수입니다
        function deleteCircleDot() {
            var i;

            for ( i = 0; i < dots.length; i++ ){
                if (dots[i].circle) { 
                    dots[i].circle.setMap(null);
                }

                if (dots[i].distance) {
                    dots[i].distance.setMap(null);
                }
            }

            dots = [];
        }

        // 마우스 우클릭 하여 선 그리기가 종료됐을 때 호출하여 
        // 그려진 선의 총거리 정보와 거리에 대한 도보, 자전거 시간을 계산하여
        // HTML Content를 만들어 리턴하는 함수입니다
        function getTimeHTML(distance) {

            // 도보의 시속은 평균 4km/h 이고 도보의 분속은 67m/min입니다
            var walkkTime = distance / 67 | 0;
            var walkHour = '', walkMin = '';

            // 계산한 도보 시간이 60분 보다 크면 시간으로 표시합니다
            if (walkkTime > 60) {
                walkHour = '<span class="number">' + Math.floor(walkkTime / 60) + '</span>시간 '
            }
            walkMin = '<span class="number">' + walkkTime % 60 + '</span>분'

            // 자전거의 평균 시속은 16km/h 이고 이것을 기준으로 자전거의 분속은 267m/min입니다
            var bycicleTime = distance / 227 | 0;
            var bycicleHour = '', bycicleMin = '';

            // 계산한 자전거 시간이 60분 보다 크면 시간으로 표출합니다
            if (bycicleTime > 60) {
                bycicleHour = '<span class="number">' + Math.floor(bycicleTime / 60) + '</span>시간 '
            }
            bycicleMin = '<span class="number">' + bycicleTime % 60 + '</span>분'

            // 거리와 도보 시간, 자전거 시간을 가지고 HTML Content를 만들어 리턴합니다
            var content = '<ul class="dotOverlay distanceInfo">';
            content += '    <li>';
            content += '        <span class="label">총거리</span><span class="number">' + distance + '</span>m';
            content += '    </li>';
            content += '    <li>';
            content += '        <span class="label">도보</span>' + walkHour + walkMin;
            content += '    </li>';
            content += '    <li>';
            content += '        <span class="label">자전거</span>' + bycicleHour + bycicleMin;
            content += '    </li>';
            content += '</ul>'

            return content;
        }

    });
</script>

{% endblock %}